{% extends "main_sl.html" %}

{% block content %}

    {% if object_list.count %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Desc</th>
                <th>Joint Date</th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td>
                        <a href="sla{{ object.pk }}">
                            {{ object.fname }}
                        </a>
                    </td>
                    <td>{{ object.lname }}</td>
                    <td>{{ object.descr }}</td>
                    <td>{{ object.join_date}}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <!--<th align="right">total</th>
                <th>${{ view.total }}</th>
                <th></th>-->
            </tr>
            </tfoot>
        </table>
    {% else %}
        No slaves.... yet!
    {% endif %}


{% endblock %}